body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f499dfb4;
}
h1{
    font-size: 2em;
    text-align: center;
    grid-column: 1/3;
}

#addBook {
    grid-column: 1/1;
    margin: 0 auto;
    border: 3px solid #000;
    border-radius: 40px;
    padding: 5px 2px;
    background-color: #fbdcff;
    text-align: center;
    font-style: italic;
}

#addBook h2 {
    font-size: 1.5em;
    text-align: center;
}